<% provide(:title, t('appliance.index.title')) %>
<legend><%= t('appliance.index.legend') %></legend>

<% if @appliances.length == 0 %>
  <p><%= t('appliance.index.empty_list') %></p>
<% else %>
	<div class="table-responsive">
	<table class="table table-condensed table-striped">
	  <thead>
	    <tr>
	      <th><%= t('global.name') %></th>
	      <th><%= t('global.abbrevation') %></th>
	      <th><%= t('global.url') %></th>
	      <th style="width:17px;"></th>
	      <th style="width:17px;"></th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @appliances.each do |appliance| %>
	    <tr>
	      <td><%= appliance.name %></td>
	      <td><%= appliance.abb %></td>
	      <td><%= appliance.preview %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
	</div>

    <%= paginate @appliances %>
<% end %>
<div>
  <%= link_to(t('appliance.index.new_appliance'), new_appliance_path, :class => 'btn btn-mini btn-primary') %>
</div>
