<% provide(:title, t('appliance.index.title')) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= t('appliance.index.legend') %></div>
  </div>
  <div class="panel-body panel-table">

    <% if @appliances.length == 0 %>
      <p><%= t('appliance.index.empty_list') %></p>
    <% else %>
    	<div class="table-responsive">
      	<table class="table table-condensed table-striped">
      	  <thead>
      	    <tr>
      	      <th><%= t('global.name') %></th>
      	      <th><%= t('global.abbrevation') %></th>
      	      <th><%= t('global.url') %></th>
      	      <th></th>
      	    </tr>
      	  </thead>
      	  <tbody>
      	  <% @appliances.each do |appliance| %>
      	    <tr>
      	      <td><%= appliance.name %></td>
      	      <td><%= appliance.abb %></td>
      	      <td><%= appliance.preview %></td>
      	      <td>
                <% unless appliance.preview.file? %>
                  <%= bootstrap_form_for(appliance) do |f| %>
                    <%= f.file_field :preview, hide_label: true %>
                    <%= f.submit t('appliance.index.button'), data: { disable_with: t('appliance.index.button_send') }, class: "btn btn-primary" %>
                  <% end %>
                <% else %>
                  <%= link_to(appliance_path(appliance), :data => { :confirm => t('global.sure') }, :method => :delete) do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= paginate @appliances %>
    <%= link_to(t('appliance.index.new_appliance'), new_appliance_path, :class => 'btn btn-mini btn-primary') %>
  </div>
</div>
