<% provide(:title, t('entry.entryhistory.title')) %>
<legend><%= t('entry.entryhistory.legend') %></legend>

<h2><%= @entry.company[0].upcase! + @appliance.abb + @entry.number %></h2>

<div class="row">
  <div class="span6">
  	<% if @history.length == 0 %>
      <p><%= t('entry.entryhistory.empty_list') %></p>
    <% else %>
	    <div class="table-responsive">
	      <table class="table table-condensed table-striped">
			<thead>
	          <tr>
	            <th><%= t('entryhistory.who') %></th>
	            <th><%= t('entryhistory.what') %></th>
	            <th><%= t('entryhistory.when') %></th>
	          </tr>
	        </thead>
	        <tbody class="searchable">
	          <% @history.each do |history| %>
	            <tr>
	              <% @users.each do |user| %>
	                <% if user.id == history.user_id %>
	                  <td><%= user.name %></td>
	                <% end %>
	              <% end %>
	              <td><%= history.action %></td>
	              <td><%= history.created_at %></td>
	            </tr>
	          <% end %>
	        </tbody>
	      </table>
	    </div>
    <% end %>
  </div>
</div>

<%= link_to t('global.back'), entry_path(@entry) %>
