<% provide(:title, 'Badger - History overview') %>
<legend>History</legend>

<h2><%= @entry.company[0].upcase! + @appliance.abb + @entry.number %></h2>

<div class="row">
  <div class="span6">
  	<% if @history.length == 0 %>
      <p>No history here</p>
    <% else %>
	    <div class="table-responsive">
	      <table class="table table-condensed table-striped">
			<thead>
	          <tr>
	            <th>Who?</th>
	            <th>What?</th>
	            <th>When?</th>
	          </tr>
	        </thead>
	        <tbody class="searchable">
	          <% @history.each do |history| %>
	            <tr>
	              <% @users.each do |user| %>
	                <% if user.id == history.user_id %>
	                  <td><%= user.name %></td>
	                <% end %>
	              <% end %>
	              <td><%= history.action %></td>
	              <td><%= history.created_at %></td>
	            </tr>
	          <% end %>
	        </tbody>
	      </table>
	    </div>
    <% end %>
  </div>
</div>

<%= link_to "Back", entry_path(@entry) %>
