<% provide(:title, 'Badger - Entries for ' + session[:company]) %>

<legend>Entries for <%= session[:company] %></legend>
  <div>
    <% if @entries.length == 0 %>
      <p>No entries here</p>
    <% else %>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Number</th>
            <th>Appliance</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Serial</th>
            <th>Status</th>
            <th style="width:17px;"></th>
            <% if can? :zip, Entry %>
              <th style="width:17px;"></th>
            <% end %>
            <% if can? :edit, Entry %>
              <th style="width:17px;"></th>
            <% end %>
            <% if can? :destroy, Entry %>
              <th style="width:17px;"></th>
            <% end %>
          </tr>
        </thead>
        <tbody class="searchable">
          <% @entries.each do |entry| %>
            <tr>
              <td><%= entry.company[0].upcase! + @appliances[entry.appliance_id - 1].abb + entry.number %></td>
              <td><%= @appliances[entry.appliance_id - 1].name %></td>
              <td><%= entry.brand %></td>
              <td><%= entry.typenum %></td>
              <td><%= entry.serialnum %></td>
              <td><%= entry.get_status %></td>
              <td>
                <%= link_to entry_path(entry) do %>
                  <i class="icon-search"></i>
                <% end %>
              </td>   
              <% if can? :zip, Entry %>
                <% unless entry.attachments.length == 0 %>
                  <%= link_to zip_path(entry) do %>
                    <i class="icon-picture"></i>
                  <% end %>
                <% end %>
              <% end %>
              <% if can? :edit, Entry %>
                <td>
                  <%= link_to edit_entry_path(entry) do %>
                    <i class="icon-pencil"></i>
                  <% end %>
                </td>
              <% end %>
              <% if can? :destroy, Entry %>
                <td>
                  <%= link_to(entry_path(entry), :data => { :confirm => "Are you sure?" }, :method => :delete) do %>
                    <i class="icon-remove"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% if @pagination %>
        <%= paginate @entries %>
      <% end %>
    <% end %>

    <% unless @pagination %>
      <%= link_to('Back to overview', entries_path, :class => 'btn btn-mini btn-primary') %>
      <br>
      <br>
    <% end %>
  </div>
  <div>
  <% if can? :create, Entry %>
    <%= link_to("Add entry", new_entry_path, :class => 'btn btn-mini btn-primary') %>
  <% end %>
    <a data-toggle="modal" href="#search-form" type="button" class="btn btn-mini btn-primary">Search</a>
      <div id="search-form" class="modal" style="display: none;">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&#215;</a>
          <h3>Search</h3>
        </div>
        <div class="modal-body">
          <%= form_tag entries_path,:class => "navbar-form", :method => 'get' do %>
            <p>  
              <%= text_field_tag :searchnum, params[:searchnum], :placeholder => 'Search number..' %>
              <input id="company" name="company" type="hidden" value="<%= params[:company] %>" />
              <%= submit_tag "Search", :name => nil, :class => 'btn btn-mini btn-primary', :style => 'height:28px' %>  
            </p>  
          <% end %>
          <%= form_tag entries_path,:class => "navbar-form", :method => 'get' do %>
            <p>  
              <%= text_field_tag :searchbrand, params[:searchbrand], :placeholder => 'Search brand..' %>
              <input id="company" name="company" type="hidden" value="<%= params[:company] %>" />
              <%= submit_tag "Search", :name => nil, :class => 'btn btn-mini btn-primary', :style => 'height:28px' %>  
            </p>  
          <% end %>
          <%= form_tag entries_path,:class => "navbar-form", :method => 'get' do %>
            <p>  
              <%= text_field_tag :searchtype, params[:searchtype], :placeholder => 'Search type..' %>
              <input id="company" name="company" type="hidden" value="<%= params[:company] %>" />
              <%= submit_tag "Search", :name => nil, :class => 'btn btn-mini btn-primary', :style => 'height:28px' %>  
            </p>  
          <% end %>
          <%= form_tag entries_path,:class => "navbar-form", :method => 'get' do %>
            <p>  
              <%= text_field_tag :searchserial, params[:searchserial], :placeholder => 'Search serial..' %>
              <input id="company" name="company" type="hidden" value="<%= params[:company] %>" />
              <%= submit_tag "Search", :name => nil, :class => 'btn btn-mini btn-primary', :style => 'height:28px' %>  
            </p>  
          <% end %>
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal" href="#">Close</a>
        </div>
      </div>
    </div>
