<% provide(:title, t('entry.index.title') + @company.title) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= "#{t('entry.index.legend')} #{@company.title}" %></div>
  </div>
  <div class="panel-body panel-table">
    <% if @entries.length == 0 %>
      <p class="empty_list"><%= t('entry.index.empty_list') %></p>
    <% else %>
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th><%= t('global.number') %></th>
              <th><%= t('global.appliance') %></th>
              <th><%= t('global.brand') %></th>
              <th><%= t('global.typenum') %></th>
              <th><%= t('global.serialnum') %></th>
              <th><%= t('global.status') %></th>
              <th style="width:17px;"></th>
              <% if can? :zip, Entry %>
                <th style="width:17px;"></th>
              <% end %>
              <% if can? :edit, Entry %>
                <th style="width:17px;"></th>
                <th style="width:17px;"></th>
                <th style="width:17px;"></th>
              <% end %>
              <% if can? :destroy, Entry %>
                <th style="width:17px;"></th>
              <% end %>
            </tr>
          </thead>
          <tbody class="searchable">
            <% @entries.each do |entry| %>
              <tr>
                <td><%= @company.abb + @appliances[entry.appliance_id - 1].abb + entry.number %></td>
                <td><%= @appliances[entry.appliance_id - 1].name %></td>
                <td><%= entry.brand %></td>
                <td><%= entry.typenum %></td>
                <td><%= entry.serialnum %></td>
                <td><%= entry.get_status_translated %></td>
                <% if can? :zip, Entry %>
                  <td>
                  <% unless entry.attachments.length == 0 %>
                    <%= link_to zip_path(entry) do %>
                      <span class="glyphicon glyphicon-picture"></span>
                    <% end %>
                  <% end %>
                  </td>
                <% end %>
                <td>
                  <%= link_to company_entry_path(entry.company_id, entry) do %>
                    <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </td>
               <% if can? :edit, Entry %>
                  <td data-no-turbolink="true">
                    <%= link_to sticker_path(entry.company_id, entry) do %>
                      <span class="glyphicon glyphicon-barcode"></span>
                    <% end %>
                  </td>
                  <td data-no-turbolink="true">
                    <%= link_to ticket_path(entry.company_id, entry) do %>
                      <span class="glyphicon glyphicon-print"></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_company_entry_path(entry.company_id, entry) do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>
                  </td>
                <% end %>
                <% if can? :destroy, Entry %>
                  <td>
                    <%= link_to(company_entry_path(entry.company_id, entry), :data => { :confirm => t('global.sure') }, :method => :delete) do %>
                      <span class="glyphicon glyphicon-remove"></span>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">

    <% unless @entries.length == 0 %>
      <% if @pagination %>
        <%= paginate @entries %>
      <% else %>
        <%= link_to(t('entry.index.back'), company_entries_path(@company), :class => 'btn btn-mini btn-primary') %>
      <% end %>
    <% end %>

    <% if can? :create, Entry %>
      <%= link_to(t('entry.index.add_entry'), new_company_entry_path(@company), :class => 'btn btn-mini btn-primary') %>
    <% end %>

    <% if @entries.length != 0 and @pagination %>
      <!-- Button trigger modal -->
      <button class="btn btn-mini btn-primary" data-toggle="modal" data-target="#modal-search">
        <%= t('entry.index.search') %>
      </button>
    <% end %>

  </div>
</div>

  <% if @pagination %>
    <!-- Modal -->
    <div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="modalLabel-search" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modalLabel-search"><%= t('entry.index.search') %></h4>
          </div>
          <div class="modal-body">
            <%= form_tag company_entries_path(@company), :class => "navbar-form", :method => 'get' do %>
                <p>  
                  <%= text_field_tag :searchnum, params[:searchnum], :placeholder => t('entry.index.searchnum') %>
                  <%= submit_tag t('entry.index.search'), :name => nil, :class => 'btn btn-mini btn-primary', :style => 'height:28px' %>  
                </p>  
              <% end %>
              <%= form_tag company_entries_path(@company),:class => "navbar-form", :method => 'get' do %>
                <p>  
                  <%= text_field_tag :searchbrand, params[:searchbrand], :placeholder => t('entry.index.searchbrand') %>
                  <%= submit_tag t('entry.index.search'), :name => nil, :class => 'btn btn-mini btn-primary', :style => 'height:28px' %>  
                </p>  
              <% end %>
              <%= form_tag company_entries_path(@company),:class => "navbar-form", :method => 'get' do %>
                <p>  
                  <%= text_field_tag :searchtype, params[:searchtype], :placeholder => t('entry.index.searchtype') %>
                  <%= submit_tag t('entry.index.search'), :name => nil, :class => 'btn btn-mini btn-primary', :style => 'height:28px' %>  
                </p>  
              <% end %>
              <%= form_tag company_entries_path(@company),:class => "navbar-form", :method => 'get' do %>
                <p>  
                  <%= text_field_tag :searchserial, params[:searchserial], :placeholder => t('entry.index.searchserial') %>
                  <%= submit_tag t('entry.index.search'), :name => nil, :class => 'btn btn-mini btn-primary', :style => 'height:28px' %>  
                </p>  
              <% end %>
              <%= form_tag company_entries_path(@company),:class => "navbar-form", :method => 'get' do %>
                <p>  
                  <%= select_tag :searchstatus, options_for_select(@statuses) %>
                  <%= submit_tag t('entry.index.search'), :name => nil, :class => 'btn btn-mini btn-primary', :style => 'height:28px' %>  
                </p>  
              <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  <% end %>
