<% provide(:title, t('invoice.index.title') + session[:company]) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= "#{t('invoice.index.legend')}#{session[:company]}" %></div>
  </div>
  <div class="panel-body panel-table">
    <% if @invoices.length == 0 %>
      <p><%= t('invoice.index.empty_list') %></p>
    <% else %>
      <table class="table table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th><%= t('invoice.index.items') %></th>
            <th><%= t('invoice.index.date') %></th>
            <th style="width:17px;"></th>
            <% if can? :destroy, Invoice %>
              <th style="width:17px;"></th>
            <% end %>
          </tr>
        </thead>
        <tbody class="searchable">
          <% @invoices.each do |invoice| %>
            <tr>
              <td><%= invoice.id %></td>
              <td><%= invoice.items %></td>
              <td><%= invoice.created_at.to_date %></td>
                <td>
                  <%= link_to invoice_path(invoice) do %>
                    <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </td>
                <% if can? :destroy, Invoice %>
                <td>
                  <%= link_to(invoice_path(invoice), :data => { :confirm => t('global.sure') }, :method => :delete) do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= paginate @invoices %>
  </div>
  <div class="panel-footer">
    <% unless @invoices.length == 0 %>
      <%= paginate @invoices %>
    <% end %>

    <% if can? :create, Invoice %>
      <div>
        <%= link_to(t('invoice.index.add_invoice'), new_invoice_path, :class => 'btn btn-mini btn-primary') %>
      </div>
    <% end %>
  </div>
</div>
