<% provide(:title, t('invoice.show.title')) %>

<legend><%= "#{t('invoice.show.legend')} #{@invoice.id}" %></legend>

<div class="well well-large">
  <div class="row">
    <div class="col-xs-6 col-md-4 col-md-offset-2">
      <strong><%= t('invoice.show.sender') %></strong>
      <p>
        <%= raw @sender_data %>
      </p>
    </div>
    <div class="col-xs-6 col-md-4 col-md-offset-2">
      <strong><%= t('invoice.show.addressee') %></strong>
      <p>
        <%= raw @company.address %>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4">
      <dl class="dl-horizontal dl-misc">
        <dt><%= t('invoice.show.date') %></dt>
        <dd><%= @invoice.created_at.to_date %></dd>
      </dl>

      <dl class="dl-horizontal dl-misc">
        <% @class_count.each_with_index do |value, index| %>
          <% unless value == 0 %>
            <dt><%= @classes[index].name %></dt>
            <dd><%= value %></dd>
          <% end %>
        <% end %>
      </dl>
    </div>
    
    <% @price_type_total.each do |key, value| %>
      <div class="col-xs-6 col-sm-6 col-md-4">
        <dl class="dl-horizontal dl-type">

            <dt><%= key.gsub('_',' ') %></dt><dd></dd>
            <% value.each do |status, price| %>
              <dt><%= status %></dt>
              <dd>
                <% unless params[:type] == 'slip' %>
                  <% unless price[2] == -1 %>
                    <%= "#{price[0]} x #{number_to_currency(price[2], unit: '€')} = #{number_to_currency(price[1], unit: '€')}" %>
                  <% else %>
                    <%= "#{number_to_currency(price[1], unit: '€')} (#{price[0]}x)" %>
                  <% end %>
                <% else %>
                  <%= "#{price[0]}x" %>
                <% end %>
              </dd>
            <% end %>
            <br>
        </dl>
      </div>
    <% end %>
  </div>
</div>

<% if params[:type] == 'slip' %>
  <div>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th><%= t('global.number') %></th>
            <th><%= t('global.appliance') %></th>
            <th><%= t('global.brand') %></th>
            <th><%= t('global.type') %></th>
            <th><%= t('global.serial') %></th>
            <th style="width:17px;"></th>
          </tr>
        </thead>
        <tbody>
          <% @entry_classes.each_with_index do |klasses, index| %>
            <% unless klasses.length == 0 %>
              <% klasses.each_with_index do |entries, index| %>
                <% unless entries.length == 0 %>
                  <% if index == 1 %>
                    <tr>
                      <td><strong><%= t('global.shipment_cap') %> <%= @shipments[index].number %></strong></td>
                      <td></td><td></td><td></td><td></td><td></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td><strong><%= "#{t('global.class')} #{@classes[index].name}" %></strong></td>
                    <td></td><td></td><td></td><td></td><td></td>
                  </tr>
                  <% entries.each do |entry| %>
                    <tr>
                      <td><%= entry.company.abb + entry.type.appliance.abb + entry.number.to_s %></td>
                      <td><%= entry.type.appliance.name %></td>
                      <td><%= entry.type.brand %></td>
                      <td><%= entry.type.typenum %></td>
                      <td><%= entry.serialnum %></td>
                      <% if entry.scrap == 1 %>
                        <td><span class="glyphicon glyphicon-trash"></span></td>
                      <% elsif entry.repaired == 1 %>
                        <td><span class="glyphicon glyphicon-wrench"></span></td>
                      <% elsif entry.test == 1 %>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                      <% else %>
                        <td></td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
  </div>

  <div class="well well-large">
    <div class="row">
      <div class="col-xs-6 col-md-4 col-md-offset-2">
        <strong><%= t('invoice.show.signature_sender') %></strong>
        <p style="margin-top:50px">
          ____________________
        </p>
      </div>
      <div class="col-xs-6 col-md-4 col-md-offset-2">
        <strong><%= t('invoice.show.signature_addressee') %></strong>
        <p style="margin-top:50px">
          ____________________
        </p>
      </div>
    </div>
  </div>
<% end %>
