<% provide(:title, t('history.index.title')) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= t('history.index.legend') %></div>
  </div>
  <div class="panel-body panel-table">
    <% if @history.length == 0 %>
      <p class="empty_list"><%= t('history.index.empty_list') %></p>
    <% else %>
      <table class="table table-condensed table-striped">
        <thead>
            <tr>
              <th><%= t('history.index.where') %></th>
              <th><%= t('history.index.who') %></th>
              <th><%= t('history.index.what') %></th>
              <th><%= t('history.index.when') %></th>
            </tr>
          </thead>
          <tbody class="searchable">
            <% @history.each do |history| %>
              <tr>
                <% @entries.each do |entry| %>
                  <% if entry.id == history.entry_id %>
                    <td><%= entry.company[0].upcase! + @appliances[entry.appliance_id - 1].abb + entry.number %></td>
                  <% end %>
                <% end %>
                <% @users.each do |user| %>
                  <% if user.id == history.user_id %>
                    <td><%= user.name %></td>
                  <% end %>
                <% end %>
                <td><%= history.action %></td>
                <td><%= history.created_at %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= paginate @history %>
  </div>
</div>
