<% provide(:title, t('history.index.title')) %>

<legend><%= t('history.index.legend') %></legend>
  <div>
    <% if @history.length == 0 %>
      <p><%= t('history.index.empty_list') %></p>
    <% else %>
      <table class="table table-condensed table-striped">
        <thead>
            <tr>
              <th><%= t('history.index.where') %></th>
              <th><%= t('history.index.who') %></th>
              <th><%= t('history.index.what') %></th>
              <th><%= t('history.index.when') %></th>
            </tr>
          </thead>
          <tbody class="searchable">
            <% @history.each do |history| %>
              <tr>
                <% @entries.each do |entry| %>
                  <% if entry.id == history.entry_id %>
                    <td><%= entry.company[0].upcase! + @appliances[entry.appliance_id - 1].abb + entry.number %></td>
                  <% end %>
                <% end %>
                <% @users.each do |user| %>
                  <% if user.id == history.user_id %>
                    <td><%= user.name %></td>
                  <% end %>
                <% end %>
                <td><%= history.action %></td>
                <td><%= history.created_at %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    <% end %>

    <%= paginate @history %>
  </div>
