<% provide(:title, t('type.edit.title')) %>

<%= bootstrap_form_for(@type, method: :patch, :url => company_type_path(params[:company_id], @type.id), :html => { :class => 'form-horizontal', :multipart => true }, style: :horizontal, left: "col-sm-2", right: "col-sm-4", help: :block) do |f| %>
  <%= f.alert_message t('global.errors') %>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"><%= t('type.edit.legend') %></div>
    </div>
    <div class="panel-body">
      <%= f.select :appliance_id, @appliance_names, label: t('global.appliance') %>
      <%= f.text_field :brand, label: t('global.brand') %>
      <%= f.text_field :typenum, label: t('global.typenum') %>
      <%= f.text_field :test_price, prepend: '€', placeholder: '0.00', label: t('global.test_price') %>
      <%= f.text_field :repair_price, prepend: '€', placeholder: '0.00', label: t('global.repair_price') %>
      <%= f.text_field :scrap_price, prepend: '€', placeholder: '0.00', label: t('global.scrap_price') %>
    </div>
    <div class="panel-footer">
      <%= f.submit t('type.new.button'), data: { disable_with: t('type.new.button_send') } %>
    </div>
  </div>
<% end %>

<%= link_to t('global.back'), company_types_path(params[:company_id]) %>
