<% provide(:title, "#{t('type.index.title')} #{@company.title}") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= "#{t('type.index.legend')} #{@company.title}" %></div>
  </div>
  <div class="panel-body panel-table">
    <% if @types.length == 0 %>
      <p class="empty_list"><%= t('type.index.empty_list') %></p>
    <% else %>
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th><%= t('global.appliance') %></th>
              <th><%= t('global.brand') %></th>
              <th><%= t('global.type') %></th>
              <th><%= t('global.test_price') %></th>
              <th><%= t('global.repair_price') %></th>
              <th><%= t('global.scrap_price') %></th>
              <% if can? :edit, Type %>
                <th style="width:17px;"></th>
              <% end %>
              <% if can? :destroy, Type %>
                <th style="width:17px;"></th>
              <% end %>
            </tr>
          </thead>
          <tbody class="searchable">
            <% @types.each do |type| %>
              <tr>
                <td><%= @appliances[type.appliance_id - 1].name %></td>
                <td><%= type.brand %></td>
                <td><%= type.typenum %></td>
                <td><%= number_to_currency(type.test_price, unit: '€') %></td>
                <td><%= number_to_currency(type.repair_price, unit: '€') %></td>
                <td><%= number_to_currency(type.scrap_price, unit: '€') %></td>
               <% if can? :edit, Type %>
                  <td>
                    <%= link_to edit_company_type_path(type.company_id, type) do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>
                  </td>
                <% end %>
                <% if can? :destroy, Type %>
                  <td>
                    <%= link_to(company_type_path(type.company_id, type), :data => { :confirm => t('global.sure') }, :method => :delete) do %>
                      <span class="glyphicon glyphicon-remove"></span>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">

    <%= paginate @types %>

    <% if can? :create, Entry %>
      <%= link_to(t('type.index.add_type'), new_company_type_path(@company), :class => 'btn btn-mini btn-primary') %>
    <% end %>

  </div>
</div>
