<% provide(:title, t('stock.index.title')) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= t('stock.index.legend')%></div>
  </div>
  <div class="panel-body panel-table">
    <% if @stocks.length == 0 %>
      <p class="empty_list"><%= t('stock.index.empty_list') %></p>
    <% else %>
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th><%= t('global.name') %></th>
              <th><%= t('global.amount') %></th>
              <th><%= t('global.amount_per_app') %></th>
              <th><%= t('global.minimum') %></th>
              <th><%= t('global.send_mail') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="searchable">
            <% @stocks.each do |stock| %>
              <tr>
                <td><%= stock.name %></td>
                <td><%= stock.amount %></td>
                <td><%= stock.amount_per_app %></td>
                <td><%= stock.minimum %></td>
                <td><%= stock.send_mail == 1 ? t('global.y') : t('global.n') %></td>
                <td>
                  <%= link_to(t('global.add'), type_stock_add_path(params[:company_id], params[:apptype_id], stock.id), :class => 'btn btn-primary btn-xs') %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">

    <% unless @stocks.length == 0 %>
      <%= paginate @stocks %>
    <% end %>

    <%= link_to(t('global.back'), type_stock_path(params[:company_id], params[:apptype_id]), :class => 'btn btn-mini btn-primary') %>

  </div>
</div>
