<% provide(:title, t('stock.index.title') + @type.brand + ' ' + @type.typenum) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= t('stock.index.legend') + @type.brand + ' ' + @type.typenum %></div>
  </div>
  <div class="panel-body panel-table">
    <% if @stocks.length == 0 %>
      <p class="empty_list"><%= t('stock.index.empty_list') %></p>
    <% else %>
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th><%= t('global.name') %></th>
              <th><%= t('global.amount') %></th>
              <th><%= t('global.amount_per_app') %></th>
              <th><%= t('global.minimum') %></th>
              <th><%= t('global.send_mail') %></th>
              <% if can? :edit, Stock %>
                <th style="width:17px;"></th>
              <% end %>
              <% if can? :destroy, Stock %>
                <th style="width:17px;"></th>
              <% end %>
            </tr>
          </thead>
          <tbody class="searchable">
            <% @stocks.each do |stock| %>
              <tr>
                <td><%= stock.name %></td>
                <td><%= stock.amount %></td>
                <td><%= stock.amount_per_app %></td>
                <td><%= stock.minimum %></td>
                <td><%= stock.send_mail == 1 ? t('global.y') : t('global.n') %></td>
               <% if can? :edit, Stock %>
                  <td>
                    <%= link_to edit_company_stock_path(params[:company_id], stock) do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>
                  </td>
                <% end %>
                <% if can? :destroy, Stock %>
                  <td>
                    <%= link_to(type_stock_remove_path(params[:company_id], params[:apptype_id], stock), :data => { :confirm => t('global.sure') }, :method => :delete) do %>
                      <span class="glyphicon glyphicon-remove"></span>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">

    <% if can? :create, Stock %>
      <%= link_to(t('stock.index.add_stock'), type_stock_index_path(params[:company_id], params[:apptype_id]), :class => 'btn btn-mini btn-primary') %>
    <% end %>

  </div>
</div>
