<% provide(:title, 'Badger - User panel') %>
<legend>Entries</legend>

<div class="table-responsive">
<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Email</th>
      <th>Registered</th>
      <th>Role</th>
      <th style="width:17px;"></th>
      <th style="width:17px;"></th>
      <th style="width:17px;"></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= user.roles.first.name.titleize %></td>
      <td>
        <%= link_to(user) do %>
          <i class="icon-search"></i>
        <% end %>
      </td>
      <td>
        <a data-toggle="modal" href="#role-options-<%= user.id %>" type="button"><i class="icon-pencil"></i></a>
        <%= render user %>
      </td>
      <td>
        <% unless user.id == current_user.id %>
          <%= link_to(user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete) do %>
            <i class="icon-remove"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<%= paginate @users %>