<% provide(:title, 'Badger - User overview') %>

<legend>User</legend>

<h2><%= @user.name %></h2>
<h3><%= @user.roles.first.name.titleize %></h3>

<div class="row">
  <div class="span6">
    <div class="table-responsive">
      <table class="table table-condensed table-striped">
        <tr>
          <td><h6>#</h6></td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td><h6>Email</h6></td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td><h6>Registered</h6></td>
          <td><%= @user.created_at.to_date %></td>
        </tr>
        <tr>
          <td><h6>Last sign-in</h6></td>
          <td><%= @user.last_sign_in_at %></td>
        </tr>
        <tr>
          <td><h6>Sign-in count</h6></td>
          <td><%= @user.sign_in_count %></td>
        </tr>
      </table>
    </div>
  </div>
</div>