<div class="center">
  <h2>Badger</h2>
  <p><%= t('home.index.welcome') %></p>
  <br>
    <% if can? :see_data, Entry %>
      <% if current_user.guest? %>   
        <div class="alert alert-success">
          <Strong><%= t('home.index.guest') %></strong><%= t('home.index.guest_msg') %>
        </div>
      <% end %>
      <% @companies.each_with_index do |company, index| %>
        <div class="<%= @panelclass %>">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><%= company.title %></h4>
                <div class="simple-stats">
                <%= "#{@simple_stats[index][0]} #{'entry'.pluralize(@simple_stats[index][0])}" %>
                <br>
                <%= "#{@simple_stats[index][1]} #{'invoice'.pluralize(@simple_stats[index][1])}"%>
                </div>
              </div>
              <div class="list-group">
                <%= link_to(t('home.index.entries'), company_entries_path(company.id), :class => 'list-group-item') %>
                <%= link_to(t('home.index.invoices'), company_invoices_path(company.id), :class => 'list-group-item') %>
                <% if can? :manage, Stats %>
                  <%= link_to(t('home.index.stats'), company_stats_path(company.id), :class => 'list-group-item') %>
                <% end %>
                <% if can? :create, Entry %>
                  <%= link_to(t('home.index.batch'), batch_path(company.id), :class => 'list-group-item') %>
                <% end %>
                <% if can? :create, Type %>
                  <%= link_to(t('home.index.type'), company_types_path(company.id), :class => 'list-group-item') %>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    <% else %>
      <%= t('home.index.no_company') %><a href=\"mailto:#{ENV['ADMIN_EMAIL']}\"><%= t('home.index.no_company_anchor') %></a>
    <% end %>
</div>
