<div class="center">
  <h2>Badger</h2>
  <p>Welcome to this data storage.</p>
  <% unless user_signed_in? %>
    <p>
      Sign in at the top.<br/>
      Sign up at the bottom.
    </p>
  <% else %>
    <% if can? :see_data, Entry %>
      <% @roles.each do |role| %>
        <% unless role.name == 'user' or role.name == 'technician' or role.name == 'manager' or role.name == 'admin' %>
          <div class="col-xs-6 col-sm-3">
            <h4><%= role.name.titleize %></h4>
            <%= link_to("Entries", entries_path(company: role.name), :class => 'btn btn-primary btn-index') %><br/>
            <%= link_to("Invoices", invoices_path(company: role.name), :class => 'btn btn-primary btn-index') %><br/>
            <% if can? :manage, Stats %>
              <%= link_to("Stats", stats_path(company: role.name), :class => 'btn btn-primary btn-index') %><br/>
            <% end %>
            <% if can? :create, Entry %>
              <%= link_to("Batch", batch_path(company: role.name), :class => 'btn btn-primary btn-index') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      You will be assigned to your respective company soon.<br>
      Can't wait? Contact the admin <a href="mailto:<%= ENV['ADMIN_EMAIL'] %>">here</a>
    <% end %>
  <% end %>
</div>