<% provide(:title, t('company.edit.title')) %>

<%= bootstrap_form_for(@company, method: :patch, :url => company_path, :html => { :class => 'form-horizontal', :multipart => true }, style: :horizontal, left: "col-sm-2", right: "col-sm-6", help: :block) do |f| %>
  <%= f.alert_message t('global.errors') %>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"><%= t('company.edit.legend') %></div>
    </div>
    <div class="panel-body">
      <%= f.text_field :title, label: t('global.title') %>
      <%= f.text_field :short, label: t('global.short') %>
      <%= f.text_field :abb, label: t('global.abbrevation') %>
      <%= f.text_field :address, :help => 'Replace all the \'enters\' by <br>', label: t('global.address') %>
      <%= f.text_field :mail, label: t('global.email') %>
    </div>
    <div class="panel-footer">
  	 <%= f.submit t('company.edit.button'), data: { disable_with: t('company.edit.button_send') } %>
    </div>
  </div>
<% end %>

<%= link_to t('global.back'), companies_path %>
