<% provide(:title, t('company.index.title')) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= t('company.index.legend') %></div>
  </div>
  <div class="panel-body panel-table">
  	<% if @companies.length == 0 %>
  	  <p class="empty_list"><%= t('company.index.empty_list') %></p>
  	<% else %>
  		<div class="table-responsive">
  			<table class="table table-condensed table-striped">
  			  <thead>
  			    <tr>
  			      <th><%= t('global.title') %></th>
  			      <th><%= t('global.short') %></th>
              <th><%= t('global.abbrevation') %></th>
              <th><%= t('global.adress') %></th>
  			      <th style="width:17px;"></th>
  			    </tr>
  			  </thead>
  			  <tbody>
  			  <% @companies.each do |company| %>
  			    <tr>
  			      <td><%= company.title %></td>
              <td><%= company.short %></td>
              <td><%= company.abb %></td>
              <td><%= company.adress %></td>
  		          <td>
  		            <%= link_to(company_path(company), :data => { :confirm => t('global.sure') }, :method => :delete) do %>
  		              <span class="glyphicon glyphicon-remove"></span>
  		            <% end %>
  		          </td>
  			    </tr>
  			  <% end %>
  			  </tbody>
  			</table>
  		</div>
  	<% end %>
  </div>
  <div class="panel-footer">
    <%= link_to(t('company.index.new_company'), new_company_path, :class => 'btn btn-mini btn-primary') %>
  </div>
</div>
