<% provide(:title, 'Company') %>

<%= bootstrap_form_for :company, :url => companies_path, style: :horizontal, left: "col-sm-2", right: "col-sm-6", help: :block do |f| %>
  <%= f.alert_message t('global.errors') %>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Company: new</div>
    </div>
    <div class="panel-body">
      <%= f.text_field :title %>
      <%= f.text_field :short %>
      <%= f.text_field :abb %>
      <%= f.text_field :adress, :help => 'Replace all the \'enters\' by <br>' %>
    </div>
    <div class="panel-footer">
  	 <%= f.submit 'Save', data: { disable_with: 'Saving' } %>
    </div>
  </div>
<% end %>

<%= link_to t('global.back'), companies_path %>
