<% provide(:title, t('shipment.new.title')) %>

<%= bootstrap_form_for(@shipment, :url => company_shipments_path(params[:company_id]), :html => { :class => 'form-horizontal', :multipart => true }, style: :horizontal, left: "col-sm-2", right: "col-sm-4", help: :block) do |f| %>
  <%= f.alert_message t('global.errors') %>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"><%= t('shipment.new.legend') %></div>
    </div>
    <div class="panel-body">
      <%= f.text_field :number, label: t('global.number') %>
      <%= f.text_area :expectance, label: t('global.expectance') %>
    </div>
    <div class="panel-footer">
      <%= f.submit t('shipment.new.button'), data: { disable_with: t('shipment.new.button_send') } %>
    </div>
  </div>
<% end %>

<%= link_to t('global.back'), company_shipments_path(params[:company_id]) %>
