<% provide(:title, t('stats.index.title') + session[:company]) %>

<div class="hero-unit center">
  <% if params[:type] == 'extended' %>
    <%= link_to(t('stats.index.simpler'), stats_path(company: params[:company]), :class => 'btn btn-primary btn-index stat-toggle') %>
  <% else %>
    <%= link_to(t('stats.index.fancier'), stats_path(company: params[:company], type: 'extended'), :class => 'btn btn-primary btn-index stat-toggle') %>
  <% end %>
  <% @charts.each_pair do |key, array| %>
        <% if key == :global %>
          <h4><%= t('stats.index.global_label') %></h4>
        <% end %>

          <a href="#" class="btn btn-success btn-chart" onClick="$('#charts_<%= key.to_s %>').slideToggle();$(window).trigger('resize');" id="<%= key.to_s %>"><%= t('stats.index.showhide') %><%= key.to_s.gsub('_', ' ') %></a><br/>
          <div class="row" id="charts_<%= key.to_s %>" <% unless key == :global %>style="display:none;"<% end %>>
            <% if params[:type] == 'extended' %>
              <div class="col-md-6 stat-chart">
                <%= high_chart('pie_chart_stats_' + key.to_s, array[0]) %>
              </div>
              <div class="col-md-6 stat-chart">
                <%= high_chart('pie_chart_status_' + key.to_s, array[1]) %>
              </div>
            <% else %>
              <div class="col-md-6 stat-chart">
                <%= raw array[0] %>
              </div>
              <div class="col-md-6 stat-chart">
                <%= raw array[1] %>
              </div>
            <% end %>
          </div>

        <% if key == :global %>
          <h4><%= t('stats.index.brand_label') %></h4>
        <% end %>
  <% end %>
</div>
