<% provide(:title, t('stats.index.title') + @company.title + ' shipment ' + @shipment.number) %>

<div class="hero-unit center">
  <% if params[:type] == 'extended' %>
    <%= link_to(t('stats.index.simpler'), company_shipment_stats_path(@shipment, @company), :class => 'btn btn-primary btn-index stat-toggle') %>
  <% else %>
    <%= link_to(t('stats.index.fancier'), company_shipment_stats_path(@shipment, @company, type: 'extended'), :class => 'btn btn-primary btn-index stat-toggle') %>
  <% end %>
        <div class="panel-group" id="accordion">
  <% @charts.each_pair do |key, array| %>
        <% if key == :global %>
          <h4><%= t('stats.index.global_label') %></h4>
        <% end %>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#<%= key.to_s %>">
                  <% if key == :global %>
                    <%= key.to_s.gsub('_', ' ').titleize %>
                  <% else %>
                    <%= key.to_s.gsub('_', ' ') %>
                  <% end %>
                </a>
              </h4>
            </div>
            <div id="<%= key.to_s %>" class="panel-collapse collapse<% if key == :global %> in<% end %>">
              <div class="panel-body">
                <% if params[:type] == 'extended' %>
              <div class="col-md-6 stat-chart">
                <%= high_chart('pie_chart_stats_' + key.to_s, array[0]) %>
              </div>
              <div class="col-md-6 stat-chart">
                <%= high_chart('pie_chart_status_' + key.to_s, array[1]) %>
              </div>
            <% else %>
              <div class="col-md-6 stat-chart">
                <%= raw array[0] %>
              </div>
              <div class="col-md-6 stat-chart">
                <%= raw array[1] %>
              </div>
            <% end %>
              </div>
            </div>
          </div>

        <% if key == :global %>
          <h4><%= t('stats.index.brand_label') %></h4>
        <% end %>
  <% end %>
  </div>
</div>
