<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="landing-logo-wrapper">
  <%= image_tag("logo-small.png", class: "landing-logo") %>
  </div>

  <div class="panel panel-default landing-panel">
  <div class="panel-body">
  <div class="landing-heading">
    <h1>Badger</h1>
    <h2><%= t('layouts.landing.welcome') %></h2>
  </div>

  <div class="landing-content">
    <%= bootstrap_form_for(:user, :as => :user, :url => user_session_path, help: :block) do |f| %>
      <div id="bm"></div>
      <%= f.email_field :email, hide_label: :true, placeholder: t('global.email'), :autofocus => true %>
      <%= f.password_field :password, hide_label: :true, placeholder: t('global.password') %>
      <%= f.hidden_field :remember_me, :value => "1" %>
      <%= f.submit t('layouts.signin.button'), data: { disable_with: t('layouts.signin.button_send') }, class: "btn btn-success btn-signin" %>
    <% end %>
  </div>
</div></div>

  <div class="landing-footer">
    <div class="landing-languageflags">
      <!-- Flags to switch languages -->
      <%= link_to(root_path(locale: 'en')) do %>
        <span class="languageflag enflag"></span>
      <% end %>
      <%= link_to(root_path(locale: 'nl')) do %>
        <span class="languageflag nlflag"></span>
      <% end %>
      <%= link_to(root_path(locale: 'de')) do %>
        <span class="languageflag deflag"></span>
      <% end %>
    </div>
    <div class="landing-buttons">
      <%= render 'layouts/signup/button' %>
      <%= render 'layouts/password/button' %>
    </div>
  </div>
</div>

<%= render 'layouts/signup/form' %> 
<%= render 'layouts/password/form' %>
