<%= link_to "Badger", root_path, :class => 'brand' %>

<% if user_signed_in? %>
    <ul class="nav pull-right">
      <li class="dropdown pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
        <ul class="dropdown-menu">

          <li>
            <%= link_to(root_path) do %>
              <i class="icon-home"></i>Home
            <% end %>
          </li>
          <li class="divider"></li>

          <% @roles.each do |role| %>
            <% unless role.name == 'user' or role.name == 'technician' or role.name == 'manager' or role.name == 'admin' %>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#"><%= role.name.titleize %></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to(entries_path(company: role.name)) do %>
                      <i class="icon-list"></i>Entries
                    <% end %>
                  </li>
                  <li>
                    <%= link_to(invoices_path(company: role.name)) do %>
                      <i class="icon-briefcase"></i>Invoices
                    <% end %>
                  </li>
                </ul>
              </li>
            <% end %>
          <% end %>


          <li class="divider"></li>
          <li>
            <%= link_to(edit_user_registration_path) do %>
              <i class="icon-cog"></i>Edit account
            <% end %>
          </li>
          <% if current_user.has_role? :admin %>
            <li>
              <%= link_to(users_path) do %>
                <i class="icon-user"></i>User panel
              <% end %>
              <%= link_to(appliances_path) do %>
                <i class="icon-file"></i>Appliance panel
              <% end %>
            </li>
          <% end %>
          <li class="divider"></li>
          <li>
            <%= link_to(destroy_user_session_path, :method => 'delete') do %>
              <i class="icon-off"></i>Logout
            <% end %>
          </li>
            
        </ul>
      </li>
    </ul>
<% end %>
